:root {
  --p-blue: hsl(215, 51%, 70%);
  --p-cyan: hsl(178, 100%, 50%);

  --n-bg: hsl(217, 54%, 11%);
  --n-card: hsl(216, 50%, 16%);
  --n-line: hsl(215, 29%, 35%);
  --n-white: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
}

/* colors */

.p-blue {
  color: var(--p-blue);
}

.p-cyan {
  color: var(--p-cyan);
}

.n-bg {
  color: var(--n-bg);
}

.n-card {
  color: var(--n-card);
}

.n-line {
  color: var(--n-line);
}

.n-white {
  color: var(--n-white);
}

/* main css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* img {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--n-bg);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 25px;
  background-color: var(--n-card);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.03);
  position: relative;
}

.card-box {
  position: relative;
}

.card {
  border-radius: 7px;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: hsla(178, 100%, 50%, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.overlay:hover {
  opacity: 1;
  position: absolute;
}

.container h1 {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 32px;
}

.container h1:hover {
  color: var(--p-cyan);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.container p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 24px;
}

.container ul li {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.price li:first-child {
  font-weight: 700;
}

.price li:first-child::before {
  display: inline-block;
  content: "";
  background: url(./images/icon-ethereum.svg) no-repeat center;
  width: 11px;
  height: 18px;
  vertical-align: middle;
  margin-right: 8px;
}


.price li:nth-child(2)::before {
  display: inline-block;
  content: "";
  background: url(./images/icon-clock.svg) no-repeat center;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 8px;
}


.line {
  display: flex;
  background-color: var(--n-line);
  width: auto;
  height: 1px;
  margin-top: 28px;
}

.creator {
  display: flex;
  align-items: center;
  font-weight: 400;
  justify-content: flex-start;
  padding-top: 18px;
  padding-bottom: 16px;
}

.creator h2 {
  font-size: 1.1rem;
}

.creator img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border: 1px solid var(--n-white);
  border-radius: 50px;
}


.creator a:hover {
  color: var(--p-cyan);
  transition: ease-in-out 0.4s;
}

/* responsive */
@media (max-width: 375px) {
  .container {
    flex-wrap: wrap;
    margin: 32px;
  }
}

@media (max-width: 310px) {

  .container h1 {
    font-size: 1rem;
    text-align: center;
    padding-top: 16px;
  }

  .container p {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 16px;
  }

  .price {
    font-size: 0.8rem;
    padding-top: 16px;
  }

  .price li {
    flex-direction: row;
    margin: 0 auto;
    padding: 4px 0;
  }

  .line {
    margin-top: 12px;
  }

  .creator {
    display: flex;
    justify-content: center;
    margin: auto auto;
    font-size: 0.7rem;
  }

  .creator h2 {
    font-size: 0.7rem;
  }

  .creator img {
    margin-right: 8px;
  }
}